@page
@model MainApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h2>Login</h2>
<p>
    Please enter your user name and password.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}